{% extends 'base.html' %}

{% block content %}
<div class="'wrapper login_wrapper">

    <div class="row justify-content-md-center align-items-center">
    <div class="col col-md-4 col-md-offset-4 login_form">


  <h2>Log in to Web Registry</h2>
  {% if form.errors %}
    <p style="color: red">Your username and password didn't match. Please try again.</p>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}<br>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
        {% if field.help_text %}
          <p><small style="color: grey">{{ field.help_text }}</small></p>
        {% endif %}
      </p>
    {% endfor %}
    <button type="submit" class="btn btn-success">Log in</button>
    <div><a href="{% url 'signup' %}">Don't have account? Sign up.</a></div>
  </form>
      </div>
  </div>
</div>
{% endblock %}