{% extends 'base.html' %}

{% block title %}Patient view{% endblock %}
{% block content %}
<div class="row justify-content-md-center login_form">
  <div class="col col-md-auto"><h2>Entries for {{patient_username}}</h2></div>
</div>

<div class="row justify-content-md-center login_form">
        <div class="col col-md-4"><table class="table">
            <tbody>
                {% for record in patient_entries_n %}
                  <tr><td data-toggle="collapse" data-target="#record_{{record.id}}">{{record.name}}</td>
                      <td>{% if record.is_acknowledged == "False" %}
                      <a href="{% url 'patient_view' patient_username=patient_username entry_id=record.id %}">Acknowledge</a>
                      {% endif %}
                  </td>
                  <td><a href="{% url 'new_comment' patient_username=patient_username entry_id=record.id %}">Comment</a></td>
                  </tr>
                <tr><td><div id="record_{{record.id}}" class="collapse">
                        {% for com in record.comment_list %}
                    <p>{{com.date}} ({{com.autor}}): {{com.value}}</p>
                        {% endfor %}
                </div></td></tr>
                {% endfor %}
            </tbody>
        </table></div>
    </div>

<div class="row justify-content-md-center login_form">
  <div class="col col-md-auto"><h2>Results for {{patient_username}}</h2></div>
</div>
<div class="row justify-content-md-center login_form">
        <div class="col col-md-4"><table class="table">
            <tbody>
                {% for record in patient_entries_r %}
                  <tr><td data-toggle="collapse" data-target="#result_{{record.id}}">{{record.name}}</td><td>
                      {% if record.is_acknowledged == "False" %}
                      <a href="{% url 'patient_view' patient_username=patient_username entry_id=record.id %}">Acknowledge</a>
                      {% endif %}
                  </td><td><a href="{% url 'new_comment' patient_username=patient_username entry_id=record.id %}">Comment</a></td>
                  </tr>
                <tr><td><div id="result_{{record.id}}" class="collapse">
                        {% for com in record.comment_list %}
                    <p>{{com.date}} ({{com.autor}}): {{com.value}}</p>
                        {% endfor %}
                </div></td></tr>
                {% endfor %}
            </tbody>
        </table></div>
    </div>

<div class="row justify-content-md-center login_form">
<div class="col col-md-auto"><a href="{% url 'index' %}" class="btn btn-info" role="button">Go to main page</a></div>
</div>
{% endblock %}